@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* scrollbar-gutter: stable; */
  /* dark theme */
  /* color: white; */
  /* background-color: hsl(233, 30%, 11%); */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-wrapper {
  /* scrollbar-gutter: stable; */
}

/* Light / Dark Theme */
.dark {
  color: white;
  background-color: hsl(233, 30%, 11%);
}
.light {
  color: rgb(43, 43, 43);
  background-color: hsl(0deg 0% 97%);
}

/* Form */
.form-input {
  @apply px-5 py-3 rounded-lg dark:bg-slate-800 bg-slate-200;
}
.form-label {
  @apply mb-1.5;
}
.form-btn {
  @apply px-4 py-2 rounded-full;
}
